{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
{%include 'assets.html' %}
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="{%static 'assets/images/logo.png'%}" alt="логотуп"></a></div>
            <div class="card-body">
                <form method="post">{%csrf_token%}
<!--                    {%crispy form%}-->
                    {{form}}
                    <input type="hidden" value="{{next}}">
                    <button type="submit" class="mt-3 rounded btn btn-primary btn-lg btn-block">Войти</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Восстановить пароль</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>