{% extends 'wifi_auth/base.html' %}

{% block content %}
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-10">
                        <!-- ============================================================== -->
                        <!-- pageheader  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header" id="top">
                                    <h2 class="pageheader-title">Добавить хотспот</h2>
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Панель</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Добавить хотспот</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end pageheader  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- basic form  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Добавление устройства</h5>
                                <div class="card-body">
                                    <form id="form" method="post" data-parsley-validate="" novalidate="">{% csrf_token %}
                                        <div class="form-group row">
                                            <label for="inputRouterName" class="col-3 col-lg-2 col-form-label text-right">Имя точки</label>
                                            <div class="col-9 col-lg-10">
                                                {{form.router_name}}
                                                <ul class="parsley-errors-list filled" id="parsley-id-7"><li class="parsley-required">{{form.router_name.errors}}</li></ul>

                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label for="inputRouterIP" class="col-3 col-lg-2 col-form-label text-right">IP адрес</label>
                                            <div class="col-9 col-lg-10">
                                                {{form.ip_address}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputRouterName" class="col-3 col-lg-2 col-form-label text-right">Логин</label>
                                            <div class="col-9 col-lg-10">
                                                {{form.admin_login}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputRouterName" class="col-3 col-lg-2 col-form-label text-right">Пароль</label>
                                            <div class="col-9 col-lg-10">
                                                {{form.admin_password}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pl-0">
                                                <button type="submit" class="btn btn-space btn-primary">Добавить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>
{%endblock%}