{% extends 'base.html' %}
{% block content %}

<div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pagehader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <span class="page-header">
                            <form id="edit_router" method="post" action="{% url 'edit_router' pk=router.pk %}">
                            {%csrf_token%}
                            <input class="router_name" name="router_name" placeholder="Название" type="text" value="{{router.router_name}}">
                            <input class="router_ip_address" name = "ip_address" placeholder="IP" type="text" value="{{router.ip_address}}">
                            <input name= "admin_login" placeholder="Логин" type="text" value="{{router.admin_login}}">
                            <input name= "admin_password" placeholder="Пароль" type="text" value="{{router.admin_password}}">
                            <button type="submit" class="router_ok_changes" action=""><i class="fas fa-check"></i></button>
                            </form>
                            <div class="router-info">
                            <h3 class="router-credentials mt-2 mb-2">
                                {{ router.router_name }}</h3>
                            {% if router.available is True %}
                                <span class="router-credentials badge-dot badge-success mr-1"></span>
                            {% else %}
                                <span class="router-credentials badge-dot badge-error mr-1"></span>
                            {%endif%}
                                    <ul class="modify-router">
                                        <li>
                                            <button id="edit-router-icon" href=""><i class="fas fa-pencil-alt"></i></button>
                                        </li>
                                        <li>
                                            <form action="{% url 'delete_router' pk=router.pk%}" method="post">
                                                {%csrf_token%}
                                                <button type="submit"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </li>
                                    </ul>
                            <h4 class="router-credentials">{{ router.ip_address }}</h4>
                            </div>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'router-list' %}" class="breadcrumb-link">Панель</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{router.router_name}}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                <!-- ============================================================== -->
                <!-- pagehader  -->
                <!-- ============================================================== -->
                <div class="row mt-5">

                    <!-- ============================================================== -->
                    <!-- all routers  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Пользователи в сети</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th class="border-0">Номер телефона</th>
                                                <th class="border-0">MAC</th>
                                                <th class="border-0">Аптайм</th>
                                                <th class="border-0">TX</th>
                                                <th class="border-0">RX</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-active">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end all routers  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- cookie users  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Куки</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th class="border-0">Номер телефона</th>
                                                <th class="border-0">MAC</th>
                                                <th class="border-0">Истекает</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-cookies">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end cookie  -->
                    <!-- ============================================================== -->
                </div>
                {% include 'wifi_auth/router_config.html' %}
            </div>
</div>

<script>
$.ajax({
    url: "{% url 'active_users' router.id %}",
    type: 'GET',
    success: function(response) {
        activeUsers(response)

    },
    error: function(xhr) {
    }
});

function activeUsers(response) {
    if (typeof response != 'string') {
        response = JSON.parse(response)
        i = 0
        while (i < response.length) {
            $('#table-active').append('<tr>' +
                '<td>' + (i + 1) + '</td>' +
                '<td>' + response[i]['user'] + '</td>' +
                '<td>' + response[i]['mac-address'] + '</td>' +
                '<td>' + response[i]['uptime'] + '</td>' +
                '<td>' + response[i]['bytes-out'] + '</td>' +
                '<td>' + response[i]['bytes-in'] + '</td>' +
                '</tr>')
            i++
        }
    }
    else {
        if (response.length == 2){
            response = "Нет пользователей онлайн"
        }
        $('#table-active').append('<tr><td>' + response +'</td></tr>')
    }
}
</script>
<script>
    $.ajax({
        url: "{% url 'cookies' router.id %}",
        type: 'GET',
        success: function (response) {
            cookiesUsers(response)
        }
    })

function cookiesUsers(response) {
    if (typeof response != 'string' || (response.length = 2)) {
        response = JSON.parse(response)
        i = 0
        while (i < response.length) {
            $('#table-cookies').append('<tr>' +
                '<td>' + (i + 1) + '</td>' +
                '<td>' + response[i]['user'] + '</td>' +
                '<td>' + response[i]['mac-address'] + '</td>' +
                '<td>' + response[i]['expires-in'] + '</td>' +
                '</tr>')
            i++
        }
    }
    else {
        console.log(response.length)
        $('#table-cookies').append("Неправильный логин или пароль")
    }
}

</script>

<script>
    // $('#edit-router-icon').click(function (e) {
    //     e.preventDefault()
    //     // $('.router-info').html('<form id="edit_router" method="post" action="' +"{% url 'edit_router' pk=router.pk %}" + '">' +
    //     //                         '{%csrf_token%}'+
    //     //                         '<input class="router_name" name="router_name" placeholder="Название" type="text" value="{{router.router_name}}">'+
    //     //                         '<input class="router_ip_address" name = "ip_address" placeholder="IP" type="text" value="{{router.ip_address}}">' +
    //     //                         '<input name= "admin_login" placeholder="Логин" type="text" value="{{router.admin_login}}">' +
    //     //                         '<input name= "admin_password" placeholder="Пароль" type="text" value="{{router.admin_password}}">' +
    //     //                         '<button type="submit" class="router_ok_changes"><i class="fas fa-check"></i></button>' +
    //     //                         '</form>')})
    //     $("#edit_router").css("display", "inline");
    // })


</script>

<style>
    #edit_router {
    }
    h3 {
        display: inline-block;
    }
    .modify-router {
        font-size: 15px;
        color: #7a80b4;
        display: inline;
        position: absolute;
        margin-top: 10px;
    }
    .modify-router button {
        background-color: rgba(0,0,0,0);
        border:none;
        color: #7a80b4;
    }
    .modify-router li {
        display: inline-block;
        list-style-type: none;
    }
    .fa-trash:hover,
    .fa-pencil-alt:hover,
    .fa-check{
        color: #3d405c;
        cursor: pointer;
    }
    #edit_router {
        transition: transform .4s;
    }

    #edit_router input {
        background-color: rgba(0,0,0,0);
        border: none;
        color: #3d405c;
        font-size: 20px;
        width: 150px;
        background-color: rgba(255,255,255,.5);
    }
    #edit_router  button {
        background-color: rgba(0,0,0,0);
        border: none;
    }
    #edit_router form input.router_name{
        margin: 0 0 !important;
    }

    .hide {
        visibility: hidden;
    }
    #edit_router {
        visibility: hidden;
        transition: transform .4s;
        width: 644px;
    }
.move{
    transform: translateY(35px);
    visibility: visible !important;
}

.moveModifiers{
    transform: translateX(590px);
}
</style>
<script>
    document.querySelector("#edit-router-icon").onclick = function(){
    var r = document.querySelector("#edit_router").classList.toggle("move");
    this.html = r ? '<i class="fas fa-pencil-alt">' : '<i class="fas fa-pencil-alt">';
    var routerInfo = document.getElementsByClassName("router-credentials");
    for (var i = 0; i < routerInfo.length; i++){
        routerInfo[i].classList.toggle("hide");
    }
    document.querySelector(".modify-router").classList.toggle("moveModifiers");
}

</script>
{% endblock %}

